/* MAIN STRUCTURE */
html {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFE;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: inherit;
}

body > * {
    display: flex;
    align-items: center;
}

/* HEADER */
header {
    justify-content: space-between;
    flex-basis: 60px;
    border-bottom: solid 1px #333;
    background-image: linear-gradient(to left, #999 , #334);
}

#header-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
}

/* MAP SECTION */
section {
    flex-grow: 5;
    flex-direction: row;
    align-items: stretch;
}

/* FOOTER */
footer {
    flex-basis: 40px;
    border-top: solid 1px #333;
    justify-content: right;
    background-image: linear-gradient(to right, #999 , #334);
}

#developer-info {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

/* HIDDEN LEFT MENU */
aside {
    position: absolute;
    top: 0px;
    width: 400px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside-hidden {
    left: -375px;
}

.aside-shown {
    left: 0px;
}

aside > * {
    border: inherit;
    padding: 5px;
}

aside h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px 0px;
    border-bottom: solid 2px #FFFFFE;
}

aside > div {
    align-self: stretch;
    flex-grow: 5;
    background-color: #4f4f5f;
    border: solid 1px #333;
    overflow-y: scroll;
}

aside > button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 25px;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #445;
    color: inherit;
}

[toggle-hidden-menu] div {
    border-top: solid 2px #FFFFFE;
}

.disabled-input {
    display: none;
}

[layer-id], [param-id] {
    display: none;
}

[layer-color] {
    width: 70px;
}

table input {
    background-color: #333;
    color: #AAA;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

table input[type="number"] {
    width: 100px;
}

/* HIDDEN CONTENT */
div#wrapper {
    display: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #334;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.9);
}

#about {
    width: 600px;
    height: 400px;
}

#alert {
    width: 350px;
}

.hidden-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hidden-header > h2 {
    padding: 0px 15px;
}

#alert h2 {
    color: #b12311;
}

#about-bt {
    padding: 10px 15px;
    font-weight: bold;
}

#about-content {
    border-top: solid 2px #FFFFFE;
    padding: 10px 0px;
}

#alert-message {
    border-top: solid 2px #b12311;
    padding: 10px 0px;
}

#about button {
    font-weight: bold;
    padding: 5px;
}

/* GENERICS */
.generic-bt, .generic-sl {
    background-color: #333;
    color: #AAA;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.generic-bt:hover {
    background-color: #AAA;
    color: #334;
    border: none;
}

.generic-sl {
    width: 130px;
}

.hidden {
    display: none;
}

/* MAP */
#map {
    flex: 1;
}

#mouse-position {
    position: absolute;
    bottom: 45px;
    right: 45%;
    padding: 3px;
    background-color: rgba(33, 33, 44, 0.5);
}