/* GENERICS */
.generic-bt, .generic-sl {
    background-color: #333;
    color: #AAA;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.generic-bt:hover {
    background-color: #AAA;
    color: #334;
    border: none;
}

.generic-sl {
    width: 170px;
}

.hidden {
    display: none;
}